<!DOCTYPE html>
<html>
  <head>
    <title>Beacon Manager API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/assets/jumbotron-narrow.css">
    <link rel="stylesheet" href="/assets/blog.css">
  </head>

  <body data-no-turbolinks='true'>
      <%= yield %>
  </body>
</html>
